@font-face {
    font-family: 'MyFont';
    src: url('../fonts/RelationshipOfMelodrame.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

#cursive {
    font-family: 'MyFont', sans-serif;
    font-size: 4rem;
    
}

.year {
    position: absolute;
    top: 5px;
    right: -85px;
    font-weight: 500;
}

.year-title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.pink-name {
    display: inline-block;
    align-items: center;
}

.header-img1 {
    position: relative;
    margin-top: -.5rem;;
    z-index: 1;
}

.highlighted-name {
    position: relative;
    top: -43px;
    z-index: 2;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #6b4c4c;
}

* { /* "Resets" the screen */
    margin: 0;
    padding: 0;
    font-weight: lighter;
    box-sizing: border-box;
}

body { /* Change background color */
    font-family: 'Roboto', sans-serif;
    background: #fdf6f0; /* soft cream background */
    color: #333;
}

header {
    background: #f7dada; /* soft pink */
    padding: 40px 20px 1px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.1;
    color: #6b4c4c; /* deeper accent */
    position: relative;
}

p a {
    text-decoration: none; /* removes underline */
    color: #993c60;
}

p a:hover {
    text-decoration: underline; /* underline on hover */

}
